* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    line-height: initial;
    position: relative;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4aad4a;
    text-align: center;
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
    border: solid 5px #a95555;
}
#header {
    color: white;
   padding: 5%;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    position: relative;
    text-align: left;
    font-size: larger;
    left: 20px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    position: relative;
    text-align: left;
    font-size: large;
    left: 20px;
}

body {
    background-color: green;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    direction: ltr;
    line-height: 1.34;
    box-sizing: border-box;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    position: relative;
    text-align: left;
    left: 20px;
    font-size: medium;
}

ul, ol {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    position: relative;
    text-align: left;
    left: 20px;
    font-size: large;
    padding: 2px;
}

li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    position: relative;
    text-align: left;
    left: 50px;
    font-size: medium;
}

table {
    width: 100%;
    height: 400px;
    background-color: #4aad4a;
    position: absolute;
    left: 50%;
    top: 450%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 200px;
    border: 15px solid #a95555;
}

div.deal-cards {
    color: white;
    text-align: center;
    background-color: green;
    border-radius: 20px;
    border: 5px solid green;
    padding: 4px;
    position: absolute;
    left: 50%;
    top: 200%;
}
div.dcard1 {
    background-color: white;
    width: 70px;
    height: 100px;
    position: absolute;
    left: 20%;
    top: 450%;
    padding: 4px;
    border: lightgreen 2px;
}
div.dcard2 {
    background-color: white;
    width: 70px;
    height: 100px;
    position: absolute;
    left: 35%;
    top: 450%;
    padding: 4px;
    border: lightgreen 2px;
}
div.dcard3 {
    background-color: white;
    width: 70px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 450%;
    padding: 4px;
    border: lightgreen 2px;
}
div.dcard4 {
    background-color: white;
    width: 70px;
    height: 100px;
    position: absolute;
    left: 65%;
    top: 450%;
    padding: 4px;
    border: lightgreen 2px;
}
div.dcard5 {
    background-color: white;
    width: 70px;
    height: 100px;
    position: absolute;
    left: 80%;
    top: 450%;
    padding: 4px;
    border: lightgreen 2px;
}
div.player-cards {
    color: white;
    text-align: center;
    background-color: green;
    border-radius: 20px;
    border: 5px solid green;
    padding: 4px;
    position: absolute;
    left: 50%;
    top: 650%;
}
div.pcard1 {
    background-color: white;
    width: 70px;
    height: 100px;
    position: absolute;
    left: 20%;
    top: 480%;
    padding: 4px;
    border: lightgreen 2px;
}
div.pcard2 {
    background-color: white;
    width: 70px;
    height: 100px;
    position: absolute;
    left: 35%;
    top: 480%;
    padding: 4px;
    border: lightgreen 2px;
}
div.pcard3 {
    background-color: white;
    width: 70px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 480%;
    padding: 4px;
    border: lightgreen 2px;
}
div.pcard4 {
    background-color: white;
    width: 70px;
    height: 100px;
    position: absolute;
    left: 65%;
    top: 480%;
    padding: 4px;
    border: lightgreen 2px;
}
div.pcard5 {
    background-color: white;
    width: 70px;
    height: 100px;
    position: absolute;
    left: 80%;
    top: 480%;
    padding: 4px;
    border: lightgreen 2px;
}

button{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    box-shadow: 0 1px 3px black;
    border: 2px solid black;
    border-radius: 6px;
}
#play-controls {
    position: absolute;
    size: 20px;
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    left: 40%;
    top: 750%;
}
#play-points{
    left: 30%;
    top: 650%;
}
#deal-points {
    left: 30%;
    top: 200%;
}